APP_PORT=5000
APP_SECRET=MY_SECRET_YOU_NEVERKNOW
DB_URI=mongodb+srv://Loki2:rixnickz1135@cluster0.eiqpo.mongodb.net/soul-veggie?retryWrites=true&w=majority
DB_NAME=soul-veggie
SESSION_SECRET=SOME_OF_SUPER_SECRET