<div class="left-side-bar">
  <div class="brand-logo">
    <a href="/admin">
      Soul | Veggies
      <!-- <img src="vendors/images/deskapp-logo.svg" alt="" class="dark-logo">
      <img src="vendors/images/deskapp-logo-white.svg" alt="" class="light-logo"> -->
    </a>
    <div class="close-sidebar" data-toggle="left-sidebar-close">
      <i class="ion-close-round"></i>
    </div>
  </div>
  <div class="menu-block customscroll">
    <div class="sidebar-menu">
      <ul id="accordion-menu">
        <li class="dropdown">
          <a href="/my-info" class="dropdown-toggle">
            <span class="micon dw dw-house-1"></span
            ><span class="mtext">ໝ້າຫຼັກ</span>
          </a>
        </li>
        <li class="dropdown">
          <a href="javascript:;" class="dropdown-toggle">
            <span class="micon dw dw-analytics-21"></span
            ><span class="mtext">ຂໍ້ມູນຍອດຂາຍ</span>
          </a>
          <ul class="submenu">
            <li><a href="/my-info/sales">ຂໍ້ມູນຍອດຂ່າຍວັນນີ້</a></li>
            <!-- <li><a href="ui-carousel.html">ລູກຄ້າທົ່ວໄປ</a></li> -->
          </ul>
        </li>
        <li>
          <a href="javascript:;" class="dropdown-toggle">
            <span class="micon dw dw-analytics-211"></span
            ><span class="mtext">ລາຍງານຕ່າງໆ</span>
          </a>
          <ul class="submenu">
            <li><a href="#">ລາຍງານຍອດຂາຍປະຈຳເດືອນ</a></li>
            <li><a href="#">ລາຍງານສິນຄ້າຂາຍດີ</a></li>
            <li><a href="#">ລາຍງານຍອດສັ່ງຈອງແມ່ຄ້າ</a></li>
            <li><a href="#">ລາຍງານຜັກໃນສ່າງ</a></li>
            <li><a href="#">ລາຍງານຍອດສັ່ງຊື້ເຂົາລະບົບ</a></li>
          </ul>
        </li>
        <li>
          <div class="dropdown-divider"></div>
        </li>
        <li>
          <div class="sidebar-small-cap">Setting</div>
        </li>
        <li>
          <a href="/auth/logout" class="dropdown-toggle no-arrow">
            <span class="micon dw dw-login"></span
            ><span class="mtext">ອອກຈາກລະບົບ</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="mobile-menu-overlay"></div>
