    <!-- HEADER -->
    <header id="header" class="header-area style-01 layout-03">
      <div class="header-top bg-main hidden-xs">
          <div class="container">
              <div class="top-bar left">
                  <ul class="horizontal-menu">
                      <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>rixnickl2@gmail.com</a></li>
                      <li><a href="#">ສົ່ງຟຣີພາຍໃນຕົວເມື່ອງ</a></li>
                  </ul>
              </div>
              <div class="top-bar right">
                  <ul class="social-list">
                      <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                  </ul>
                  <ul class="horizontal-menu">
                      <li class="horz-menu-item currency">
                          <select name="currency">
                              <option value="kip" selected>₭ KIP (Kip)</option>
                              <option value="baht">฿ BAHT (Baht)</option>
                              <option value="usd">$ USD (Dollar)</option>
                              <option value="yuan">¥ YUAN (Yuan)</option>
                          </select>
                      </li>
                      <li class="horz-menu-item lang">
                          <select name="language">
                              <option value="fr">French (EUR)</option>
                              <option value="en" selected>English (USD)</option>
                              <option value="ger">Germany (GBP)</option>
                              <option value="jp">Japan (JPY)</option>
                          </select>
                      </li>
                      <li><a href="/auth/signin" class="login-link"><i class="biolife-icon icon-login"></i>Login/Register</a></li>
                  </ul>
              </div>
          </div>
      </div>

      <div class="header-middle biolife-sticky-object ">
          <div class="container">
              <div class="row">
                  <div class="col-lg-3 col-md-2 col-md-6 col-xs-6">
                      <a href="/" class="biolife-logo"><img src="/frontend/assets/logo.png" alt="biolife logo" width="135" height="36"></a>
                  </div>
                  <div class="col-lg-6 col-md-7 hidden-sm hidden-xs">
                      <div class="primary-menu">
                          <ul class="menu biolife-menu clone-main-menu clone-primary-menu" id="primary-menu" data-menuname="main menu">
                              <li class="menu-item"><a href="/">ໜ້າຫຼັກ</a></li>
                              <li class="menu-item menu-item-has-children has-megamenu">
                                  <a href="#" class="menu-name" data-title="Shop" >ຕົວແທ່ນຈຳໜ່າຍ</a>
                                  <div class="wrap-megamenu lg-width-200 md-width-120">
                                      <div class="mega-content">
                                          <div class="col-lg-12 col-md-12 col-xs-12 md-margin-bottom-0 xs-margin-bottom-25">
                                                <div class="wrap-custom-menu vertical-menu">
                                                  <h4 class="menu-title">ປະເພດຜັກຂອງພວກເຮົາ</h4>
                                                  <ul class="menu">
                                                      <li><a href="#">ຜັກສົດມາດຕະຖານ AO</a></li>
                                                      <li><a href="#">ຜັກສົດມາດຕະຖານ GAP</a></li>
                                                      <li><a href="#">ຜະລິດຕະຜັນສຳເລັດຮູບ</a></li>
                                                      <li><a href="#">ອາຫານວ່າງຈາກຜັກ, ໝາກໄມ້ແປ່ຮູບ</a></li>
                                                      <li><a href="#">ນ້ຳຈາກໝາກໄມ້ສົດ</a></li>
                                                  </ul>
                                                </div>
                                                <div class="wrap-custom-menu vertical-menu">
                                                    <h4 class="menu-title">ຕົວແທ່ນຈຳໜ່າຍ</h4>
                                                    <ul class="menu">
                                                        <li><a href="/members">ຮ້ານຜັກສົດ, ໝາກໄມ້ສົດ</a></li>
                                                    </ul>
                                                  </div>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                              <li class="menu-item menu-item-has-children has-child">
                                  <a href="#" class="menu-name" data-title="Product">ຜະລິດຕະພັນສີນຄ້າ</a>
                                  <ul class="sub-menu">
                                      <li class="menu-item"><a href="/veggies">ຜັກສະອາດ ແລະ ໝາກໄມ້ສົດ</a></li>
                                      <li class="menu-item"><a href="#">ສີນຄ້າສຳເລັດຮູບ</a></li>
                                  </ul>
                              </li>
                              <li class="menu-item menu-item-has-children has-megamenu">
                                  <a href="/blogs" class="menu-name" data-title="Pages">ຂ່າວສານ</a>
                              </li>
                              <li class="menu-item menu-item-has-children has-megamenu">
                                  <a href="#" class="menu-name" data-title="Blog">ຊ່ວຍເຫລືອ</a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-md-6 col-xs-6">
                      <div class="biolife-cart-info">
                          <div class="mobile-search">
                              <a href="javascript:void(0)" class="open-searchbox"><i class="biolife-icon icon-search"></i></a>
                              <div class="mobile-search-content">
                                  <form action="#" class="form-search" name="mobile-seacrh" method="get">
                                      <a href="#" class="btn-close"><span class="biolife-icon icon-close-menu"></span></a>
                                      <input type="text" name="s" class="input-text" value="" placeholder="Search here...">
                                      <select name="category">
                                          <option value="-1" selected>ປະເພດຜັກຂອງພວກເຮົາ</option>
                                          <option value="vegetables">ຜັກສົດມາດຕະຖານ AO</option>
                                          <option value="fresh_berries">ຜັກສົດມາດຕະຖານ GAP</option>
                                          <option value="ocean_foods">ຜະລິດຕະຜັນສຳເລັດຮູບ</option>
                                          <option value="butter_eggs">ອາຫານວ່າງຈາກຜັກ, ໝາກໄມ້ແປ່ຮູບ</option>
                                          <option value="fastfood">ນ້ຳຈາກໝາກໄມ້ສົດ</option>
                                      </select>
                                      <button type="submit" class="btn-submit">go</button>
                                  </form>
                              </div>
                          </div>
                          <div class="wishlist-block hidden-sm hidden-xs">
                              <a href="#" class="link-to">
                                  <span class="icon-qty-combine">
                                      <i class="icon-heart-bold biolife-icon"></i>
                                      <span class="qty">0</span>
                                  </span>
                              </a>
                          </div>
                          <div class="minicart-block">
                              <div class="minicart-contain">
                                  <a href="javascript:void(0)" class="link-to">
                                      <span class="icon-qty-combine">
                                          <i class="icon-cart-mini biolife-icon"></i>
                                          <span class="qty">0</span>
                                      </span>
                                      <span class="title">My Cart - </span>
                                      <span class="sub-total">0.00 Kip</span>
                                  </a>
                                  <div class="cart-content">
                                      <div class="cart-inner">
                                          <ul class="products">
                                              <li>
                                                  <div class="minicart-item">
                                                      <div class="thumb">
                                                          <a href="#"><img src="/frontend/assets/images/minicart/pr-01.jpg" width="90" height="90" alt="National Fresh"></a>
                                                      </div>
                                                      <div class="left-info">
                                                          <div class="product-title"><a href="#" class="product-name">ນ້ຳໝາກໄມ້ສົດ</a></div>
                                                          <div class="price">
                                                              <ins><span class="price-amount"><span class="currencySymbol">kip</span> 8500.00</span></ins>
                                                              <del><span class="price-amount"><span class="currencySymbol">kip</span> 9500.00</span></del>
                                                          </div>
                                                          <div class="qty">
                                                              <label for="cart[id123][qty]">Qty:</label>
                                                              <input type="number" class="input-qty" name="cart[id123][qty]" id="cart[id123][qty]" value="1" disabled>
                                                          </div>
                                                      </div>
                                                      <div class="action">
                                                          <a href="#" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                          <a href="#" class="remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                      </div>
                                                  </div>
                                              </li>
                                              <!-- <li>
                                                  <div class="minicart-item">
                                                      <div class="thumb">
                                                          <a href="#"><img src="/frontend/assets/images/minicart/pr-02.jpg" width="90" height="90" alt="National Fresh"></a>
                                                      </div>
                                                      <div class="left-info">
                                                          <div class="product-title"><a href="#" class="product-name">National Fresh Fruit</a></div>
                                                          <div class="price">
                                                              <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>
                                                              <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
                                                          </div>
                                                          <div class="qty">
                                                              <label for="cart[id124][qty]">Qty:</label>
                                                              <input type="number" class="input-qty" name="cart[id124][qty]" id="cart[id124][qty]" value="1" disabled>
                                                          </div>
                                                      </div>
                                                      <div class="action">
                                                          <a href="#" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                          <a href="#" class="remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                      </div>
                                                  </div>
                                              </li>
                                              <li>
                                                  <div class="minicart-item">
                                                      <div class="thumb">
                                                          <a href="#"><img src="/frontend/assets/images/minicart/pr-03.jpg" width="90" height="90" alt="National Fresh"></a>
                                                      </div>
                                                      <div class="left-info">
                                                          <div class="product-title"><a href="#" class="product-name">National Fresh Fruit</a></div>
                                                          <div class="price">
                                                              <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>
                                                              <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
                                                          </div>
                                                          <div class="qty">
                                                              <label for="cart[id125][qty]">Qty:</label>
                                                              <input type="number" class="input-qty" name="cart[id125][qty]" id="cart[id125][qty]" value="1" disabled>
                                                          </div>
                                                      </div>
                                                      <div class="action">
                                                          <a href="#" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                          <a href="#" class="remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                      </div>
                                                  </div>
                                              </li>
                                              <li>
                                                  <div class="minicart-item">
                                                      <div class="thumb">
                                                          <a href="#"><img src="/frontend/assets/images/minicart/pr-04.jpg" width="90" height="90" alt="National Fresh"></a>
                                                      </div>
                                                      <div class="left-info">
                                                          <div class="product-title"><a href="#" class="product-name">National Fresh Fruit</a></div>
                                                          <div class="price">
                                                              <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>
                                                              <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
                                                          </div>
                                                          <div class="qty">
                                                              <label for="cart[id126][qty]">Qty:</label>
                                                              <input type="number" class="input-qty" name="cart[id126][qty]" id="cart[id126][qty]" value="1" disabled>
                                                          </div>
                                                      </div>
                                                      <div class="action">
                                                          <a href="#" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                          <a href="#" class="remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                      </div>
                                                  </div>
                                              </li>
                                              <li>
                                                  <div class="minicart-item">
                                                      <div class="thumb">
                                                          <a href="#"><img src="/frontend/assets/images/minicart/pr-05.jpg" width="90" height="90" alt="National Fresh"></a>
                                                      </div>
                                                      <div class="left-info">
                                                          <div class="product-title"><a href="#" class="product-name">National Fresh Fruit</a></div>
                                                          <div class="price">
                                                              <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>
                                                              <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
                                                          </div>
                                                          <div class="qty">
                                                              <label for="cart[id127][qty]">Qty:</label>
                                                              <input type="number" class="input-qty" name="cart[id127][qty]" id="cart[id127][qty]" value="1" disabled>
                                                          </div>
                                                      </div>
                                                      <div class="action">
                                                          <a href="#" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                          <a href="#" class="remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                      </div>
                                                  </div>
                                              </li> -->
                                          </ul>
                                          <p class="btn-control">
                                              <a href="#" class="btn view-cart">view cart</a>
                                              <a href="#" class="btn">checkout</a>
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="mobile-menu-toggle">
                              <a class="btn-toggle" data-object="open-mobile-menu" href="javascript:void(0)">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="header-bottom hidden-sm hidden-xs">
          <div class="container">
              <div class="row">
                  <div class="col-lg-3 col-md-4">
                      <div class="vertical-menu vertical-category-block">
                          <div class="block-title">
                              <span class="menu-icon">
                                  <span class="line-1"></span>
                                  <span class="line-2"></span>
                                  <span class="line-3"></span>
                              </span>
                              <span class="menu-title">ປະເພດສີນຄ້າທັງໝົດ</span>
                              <span class="angle" data-tgleclass="fa fa-caret-down"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                          </div>
                          <div class="wrap-menu">
                              <hr>
                              <ul class="menu clone-main-menu">
                                  <li class="menu-item menu-item-has-children has-megamenu">
                                      <a href="#" class="menu-name" data-title="Fruit & Nut Gifts"><i class="biolife-icon icon-fruits"></i>ຜັກ ແລະ ໝາກໄມ້ສົດ</a>
                                      <div class="wrap-megamenu lg-width-900 md-width-640">
                                          <div class="mega-content">
                                              <div class="row">
                                                  <div class="col-lg-3 col-md-4 col-sm-12 xs-margin-bottom-25 md-margin-bottom-0">
                                                      <div class="wrap-custom-menu vertical-menu">
                                                          <h4 class="menu-title">ຜັກສົດ, ປອດສານຜິດ </h4>
                                                          <ul class="menu">
                                                              <li><a href="#">Fruit & Nut Gifts</a></li>
                                                              <li><a href="#">Mixed Fruits</a></li>
                                                              <li><a href="#">Oranges</a></li>
                                                              <li><a href="#">Bananas & Plantains</a></li>
                                                          </ul>
                                                      </div>
                                                  </div>
                                                  <div class="col-lg-3 col-md-4 col-sm-12 lg-padding-left-23 xs-margin-bottom-25 md-margin-bottom-0">
                                                      <div class="wrap-custom-menu vertical-menu">
                                                          <h4 class="menu-title">Nut Gifts</h4>
                                                          <ul class="menu">
                                                              <li><a href="#">Non-Dairy Coffee Creamers</a></li>
                                                              <li><a href="#">Coffee Creamers</a></li>
                                                              <li><a href="#">Mayonnaise</a></li>
                                                          </ul>
                                                      </div>
                                                  </div>
                                                  <div class="col-lg-6 col-md-4 col-sm-12 lg-padding-left-50 xs-margin-bottom-25 md-margin-bottom-0">
                                                      <div class="biolife-products-block max-width-270">
                                                          <h4 class="menu-title">Bestseller Products</h4>
                                                          <ul class="products-list default-product-style biolife-carousel nav-none-after-1k2 nav-center" data-slick='{"rows":1,"arrows":true,"dots":false,"infinite":false,"speed":400,"slidesMargin":30,"slidesToShow":1, "responsive":[{"breakpoint":767, "settings":{ "arrows": false}}]}' >
                                                              <li class="product-item">
                                                                  <div class="contain-product none-overlay">
                                                                      <div class="product-thumb">
                                                                          <a href="#" class="link-to-product">
                                                                              <img src="/frontend/assets/images/products/p-08.jpg" alt="dd" width="270" height="270" class="product-thumnail">
                                                                          </a>
                                                                      </div>
                                                                      <div class="info">
                                                                          <b class="categories">Fresh Fruit</b>
                                                                          <h4 class="product-title"><a href="#" class="pr-name">National Fresh Fruit</a></h4>
                                                                          <div class="price">
                                                                              <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>
                                                                              <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </li>
                                                              
                                                          </ul>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col-lg-12 col-md-12 col-sm-12 md-margin-top-9">
                                                      <div class="biolife-brand" >
                                                          <ul class="brands">
                                                              <li><a href="#"><img src="/frontend/assets/images/megamenu/brand-organic.png" width="161" height="136" alt="organic"></a></li>
                                                              <li><a href="#"><img src="/frontend/assets/images/megamenu/brand-explore.png" width="160" height="136" alt="explore"></a></li>
                                                              <li><a href="#"><img src="/frontend/assets/images/megamenu/brand-organic-2.png" width="99" height="136" alt="organic 2"></a></li>
                                                              <li><a href="#"><img src="/frontend/assets/images/megamenu/brand-eco-teas.png" width="164"  height="136" alt="eco teas"></a></li>
                                                          </ul>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </li>
                                  <li class="menu-item menu-item-has-children has-megamenu">
                                      <a href="#" class="menu-name" data-title="Vegetables"><i class="biolife-icon icon-broccoli-1"></i>ຜັກສົດ, ປອດສານຜິດ</a>
                                      <div class="wrap-megamenu lg-width-900 md-width-640 background-mega-01">
                                          <div class="mega-content">
                                              <div class="row">
                                                  <div class="col-lg-3 col-md-4 col-sm-12 xs-margin-bottom-25 md-margin-bottom-0">
                                                      <div class="wrap-custom-menu vertical-menu">
                                                          <h4 class="menu-title">Vegetables</h4>
                                                          <ul class="menu">
                                                              <li><a href="#">Fruit & Nut Gifts</a></li>
                                                              <li><a href="#">Mixed Fruits</a></li>
                                                              <li><a href="#">Oranges</a></li>
                                                              <li><a href="#">Bananas & Plantains</a></li>
                                                          </ul>
                                                      </div>
                                                  </div>
                                                  <div class="col-lg-4 col-md-4 col-sm-12 lg-padding-left-23 xs-margin-bottom-25 md-margin-bottom-0">
                                                      <div class="wrap-custom-menu vertical-menu">
                                                          <h4 class="menu-title">Gifts</h4>
                                                          <ul class="menu">
                                                              <li><a href="#">Non-Dairy Coffee Creamers</a></li>
                                                              <li><a href="#">Coffee Creamers</a></li>
                                                              <li><a href="#">Mayonnaise</a></li>
                                                          </ul>
                                                      </div>
                                                  </div>
                                                  <div class="col-lg-5 col-md-4 col-sm-12 lg-padding-left-57 md-margin-bottom-30">
                                                      <div class="biolife-brand vertical md-boder-left-30">
                                                          <h4 class="menu-title">Hot Brand</h4>
                                                          <ul class="brands">
                                                              <li><a href="#"><img src="/frontend/assets/images/megamenu/v-brand-organic.png" width="167" height="74" alt="organic"></a></li>
                                                              <li><a href="#"><img src="/frontend/assets/images/megamenu/v-brand-explore.png" width="167" height="72" alt="explore"></a></li>
                                                              <li><a href="#"><img src="/frontend/assets/images/megamenu/v-brand-organic-2.png" width="167" height="99" alt="organic 2"></a></li>
                                                              <li><a href="#"><img src="/frontend/assets/images/megamenu/v-brand-eco-teas.png" width="167" height="67" alt="eco teas"></a></li>
                                                          </ul>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </li>
                                  <li class="menu-item menu-item-has-children has-megamenu">
                                      <a href="#" class="menu-name" data-title="Fresh Berries"><i class="biolife-icon icon-grape"></i>ປະເພດອາງຸ່ນສົດ</a>
                                      <div class="wrap-megamenu lg-width-900 md-width-640 background-mega-02">
                                          <div class="mega-content">
                                              <div class="row">
                                                  <div class="col-lg-3 col-md-4 sm-col-12 md-margin-bottom-83 xs-margin-bottom-25">
                                                      <div class="wrap-custom-menu vertical-menu">
                                                          <h4 class="menu-title">Fresh Berries</h4>
                                                          <ul class="menu">
                                                              <li><a href="#">Fruit & Nut Gifts</a></li>
                                                              <li><a href="#">Mixed Fruits</a></li>
                                                              <li><a href="#">Oranges</a></li>
                                                              <li><a href="#">Bananas & Plantains</a></li>
                                                          </ul>
                                                      </div>
                                                  </div>
                                                  <div class="col-lg-3 col-md-4 sm-col-12 lg-padding-left-23 xs-margin-bottom-36px md-margin-bottom-0">
                                                      <div class="wrap-custom-menu vertical-menu">
                                                          <h4 class="menu-title">Gifts</h4>
                                                          <ul class="menu">
                                                              <li><a href="#">Non-Dairy Coffee Creamers</a></li>
                                                              <li><a href="#">Coffee Creamers</a></li>
                                                              <li><a href="#">Mayonnaise</a></li>
                                                          </ul>
                                                      </div>
                                                  </div>
                                                  <div class="col-lg-6 col-md-4 sm-col-12 lg-padding-left-25 md-padding-top-55">
                                                      <div class="biolife-banner layout-01">
                                                          <h3 class="top-title">Farm Fresh</h3>
                                                          <p class="content"> All the Lorem Ipsum generators on the Internet tend.</p>
                                                          <b class="bottomm-title">Berries Series</b>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </li>
                                  <li class="menu-item"><a href="#" class="menu-name" data-title="Ocean Foods"><i class="biolife-icon icon-fish"></i>ປາ, ອາຫານທະເລສົດ</a></li>
                                  <li class="menu-item menu-item-has-children has-child">
                                      <a href="#" class="menu-name" data-title="Butter & Eggs"><i class="biolife-icon icon-honey"></i>ໄຂ ແລະ ອາຫານກ່ອງ</a>
                                      <ul class="sub-menu">
                                          <li class="menu-item"><a href="#">Omelettes</a></li>
                                          <li class="menu-item"><a href="#">Breakfast Scrambles</a></li>
                                          <li class="menu-item menu-item-has-children has-child"><a href="#" class="menu-name" data-title="Eggs & other considerations">Eggs & other considerations</a>
                                              <ul class="sub-menu">
                                                  <li class="menu-item"><a href="#">Classic Breakfast</a></li>
                                                  <li class="menu-item"><a href="#">Huevos Rancheros</a></li>
                                              </ul>
                                          </li>
                                          <li class="menu-item"><a href="#">Griddle</a></li>
                                          <li class="menu-item menu-item-has-children has-child"><a href="#" class="menu-name" data-title="Sides & Extras">Sides & Extras</a>
                                              <ul class="sub-menu">
                                                  <li class="menu-item"><a href="#">Breakfast Burrito</a></li>
                                                  <li class="menu-item"><a href="#">Crab Cake Benedict</a></li>
                                              </ul>
                                          </li>
                                          <li class="menu-item"><a href="#">Biscuits</a></li>
                                          <li class="menu-item"><a href="#">Seasonal Fruit Plate</a></li>
                                      </ul>
                                  </li>
                                  <li class="menu-item"><a href="#" class="menu-title"><i class="biolife-icon icon-fast-food"></i>ອາຫານ fastfoods</a></li>
                                  <li class="menu-item"><a href="#" class="menu-title"><i class="biolife-icon icon-beef"></i>ໝວດຊີ້ນສັດທີສົດ</a></li>
                                  <li class="menu-item"><a href="#" class="menu-title"><i class="biolife-icon icon-onions"></i>ໝວດຫົວກະທຽມ</a></li>
                                  <li class="menu-item"><a href="#" class="menu-title"><i class="biolife-icon icon-avocado"></i>ໝວດໝາກຮຸງ, ເຄື່ອງຕຳ</a></li>
                                  <li class="menu-item"><a href="#" class="menu-title"><i class="biolife-icon icon-contain"></i>ອາຫານອົບກັອບ, ປຸງແຕ່ງ</a></li>
                                  <li class="menu-item"><a href="#" class="menu-title"><i class="biolife-icon icon-fresh-juice"></i>ໝວດກ້ວຍ, ເຄື່ອງສຳລັບປັ່ນ</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-9 col-md-8 padding-top-2px">
                      <div class="header-search-bar layout-01">
                          <form action="#" class="form-search" name="desktop-seacrh" method="get">
                              <input type="text" name="s" class="input-text" value="" placeholder="ຄັ້ນຫາໄດ້ທີນີ້...">
                              <select name="category">
                                  <option value="-1" selected>ປະເພດສີນຄ້າ</option>
                                  <option value="vegetables">ຜັກສົດມາດຕະຖານ AO</option>
                                  <option value="fresh_berries">ຜັກສົດມາດຕະຖານ GAP</option>
                                  <option value="ocean_foods">ຜະລິດຕະຜັນສຳເລັດຮູບ</option>
                                  <option value="butter_eggs">ອາຫານວ່າງຈາກຜັກ, ໝາກໄມ້ແປ່ຮູບ</option>
                                  <option value="fastfood">ນ້ຳຈາກໝາກໄມ້ສົດ</option>
                              </select>
                              <button type="submit" class="btn-submit"><i class="biolife-icon icon-search"></i></button>
                          </form>
                      </div>
                      <div class="live-info">
                          <p class="telephone"><i class="fa fa-phone" aria-hidden="true"></i><b class="phone-number">(+856)-20-5888-1357</b></p>
                          <p class="working-time">ຈ-ສ: 8:30am-7:30pm; ສ-ອ: 9:30am-4:30pm</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </header>